:root{
    --moderate-violet:hsl(263, 55%, 52%);
    --moderate-violet-light:hsl(263, 55%, 52%);
    --very-dark-grayish-blue:hsl(217, 19%, 35%);
    --very-dark-blackish-blue:hsl(219, 29%, 14%);
    --white:hsl(0, 0%, 100%);
    --white-transparent:hsl(0, 0%, 100%,0.3);
    --light-gray:hsl(0, 0%, 81%);
    --light-grayish-blue:hsl(0, 0%, 100%);
    font-size: 13px;
}
body{
    font-family: 'Barlow Semi Condensed', sans-serif;
    margin: 0;
    font-weight: 500;
    background-color: var(--light-grayish-blue);
}

.avatar{
    height: 30px;
    border-radius: 100%;
    display: inline-block;
    margin-right: 17px;
}
.identity {
    display: inline-block;
    line-height: 0.25;
    margin: 0;
}
h3 .status {
    font-weight: 600;
}
.status{
    margin: 0;
    opacity: 50%;
}
.testimony{
    opacity: 70%;
}
.emph-testimony{
    font-size: 1.43rem;
    z-index: 1;
}
@media only screen and (min-width: 1110px){
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 284px 266px;
    grid-template-areas: 
    'testimony1 testimony1 testimony2 testimony5'
    'testimony3 testimony4 testimony4 testimony5';
    gap: 25px 30px;
    width: 1110px;
    margin: 165px auto 100px;
}}
@media only screen and (max-width: 1109px){
    .grid-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        'testimony1'
        'testimony2'
        'testimony3'
        'testimony4'
        'testimony5';
        gap: 25px 30px;
        width: 325px;
        margin: 71px auto 40px;
    }}
.cell{
    background-color: grey;
    padding: 25px 33px;
    border-radius: 10px;
    position: relative;
    z-index: -2;
}   
.daniel{
    background: url(images/bg-pattern-quotation.svg) ;
    grid-area: testimony1;
    background-color: var(--moderate-violet);
    color: var(--white);
}
.bordered-avatar{
    border: 2px solid var(--white-transparent);
    
}
.jonathan{
    grid-area: testimony2;
    background-color: var(--very-dark-grayish-blue);
    color: var(--white);
}
.jeanette {
    grid-area: testimony3;
    background-color: var(--white);
    box-shadow: 10px 10px 10px 10px rgba(104, 104, 104, 0.1);
}
.patrick{
    grid-area: testimony4;
    background-color: var(--very-dark-blackish-blue);
    color: var(--white);
}
.kira{
    grid-area: testimony5;
    background-color: var(--white);
    box-shadow: 10px 10px 10px 10px rgba(104, 104, 104, 0.1);
}
.attribution{
    position: relative;
    top: 80%;
}
.quotes{

    position: absolute;
    top: 0px;
    right: 7%;
    margin: 0;
    z-index:-1;
}